In [1]:
import pandas as pd
import numpy as np
import csv

In [2]:
#files to load
cancer_reg = pd.read_csv('Resources/cancer_reg.csv')
#county_name = pd.read_csv('Resources/avg-household-size.csv')
gps = pd.read_csv('Resources/uscounties.csv')

In [3]:
#add a column to combine county and state in the gps file
# call this new field geography in the gps csv, merge the gps and cancer_reg_clean csv to make full dataset
gps["geography"] = gps["county_full"].str.cat(gps["state_name"],sep=", ")
# call this new field geography in the gps csv, merge the gps and cancer_reg_clean csv to make full dataset
gps

,county,county_ascii,county_full,county_fips,state_id,state_name,lat,lng,population,geography
0,Los Angeles,Los Angeles,Los Angeles County,6037,CA,California,34.3209,-118.2247,10019635,"Los Angeles County, California"
1,Cook,Cook,Cook County,17031,IL,Illinois,41.8401,-87.8168,5265398,"Cook County, Illinois"
2,Harris,Harris,Harris County,48201,TX,Texas,29.8577,-95.3936,4697957,"Harris County, Texas"
3,Maricopa,Maricopa,Maricopa County,4013,AZ,Arizona,33.3490,-112.4915,4367186,"Maricopa County, Arizona"
4,San Diego,San Diego,San Diego County,6073,CA,California,33.0343,-116.7350,3296317,"San Diego County, California"
...,...,...,...,...,...,...,...,...,...,...
3138,Blaine,Blaine,Blaine County,31009,NE,Nebraska,41.9128,-99.9767,346,"Blaine County, Nebraska"
3139,King,King,King County,48269,TX,Texas,33.6165,-100.2558,229,"King County, Texas"
3140,Kenedy,Kenedy,Kenedy County,48261,TX,Texas,26.9285,-97.7017,169,"Kenedy County, Texas"
3141,Loving,Loving,Loving County,48301,TX,Texas,31.8493,-103.5800,83,"Loving County, Texas"
3142,Kalawao,Kalawao,Kalawao County,15005,HI,Hawaii,21.1709,-156.9475,48,"Kalawao County, Hawaii"

In [4]:
#Print priginal columns in all the csvs

print("Columns in cancer_reg DataFrame:")
print(cancer_reg.columns)

#print("\nColumns in county_name DataFrame:")
#print(county_name.columns)

print("\nColumns in gps DataFrame:")
print(gps.columns)

Columns in cancer_reg DataFrame:
Index(['index', 'avganncount', 'avgdeathsperyear', 'target_deathrate',
       'incidencerate', 'medincome', 'popest2015', 'povertypercent',
       'studypercap', 'binnedinc', 'medianage', 'medianagemale',
       'medianagefemale', 'geography', 'percentmarried', 'pctnohs18_24',
       'pcths18_24', 'pctsomecol18_24', 'pctbachdeg18_24', 'pcths25_over',
       'pctbachdeg25_over', 'pctemployed16_over', 'pctunemployed16_over',
       'pctprivatecoverage', 'pctprivatecoveragealone', 'pctempprivcoverage',
       'pctpubliccoverage', 'pctpubliccoveragealone', 'pctwhite', 'pctblack',
       'pctasian', 'pctotherrace', 'pctmarriedhouseholds', 'birthrate'],
      dtype='object')

Columns in gps DataFrame:
Index(['county', 'county_ascii', 'county_full', 'county_fips', 'state_id',
       'state_name', 'lat', 'lng', 'population', 'geography'],
      dtype='object')

In [5]:
#Print original datatypes in the dataframes

print("Data types in cancer_reg DataFrame:")
print(cancer_reg.dtypes)

#print("\nData types in county_name DataFrame:")
#print(county_name.dtypes)

print("\nData types in gps DataFrame:")
print(gps.dtypes)

Data types in cancer_reg DataFrame:
index                        int64
avganncount                float64
avgdeathsperyear             int64
target_deathrate           float64
incidencerate              float64
medincome                    int64
popest2015                   int64
povertypercent             float64
studypercap                float64
binnedinc                   object
medianage                  float64
medianagemale              float64
medianagefemale            float64
geography                   object
percentmarried             float64
pctnohs18_24               float64
pcths18_24                 float64
pctsomecol18_24            float64
pctbachdeg18_24            float64
pcths25_over               float64
pctbachdeg25_over          float64
pctemployed16_over         float64
pctunemployed16_over       float64
pctprivatecoverage         float64
pctprivatecoveragealone    float64
pctempprivcoverage         float64
pctpubliccoverage          float64
pctpubliccoveragealone     float64
pctwhite                   float64
pctblack                   float64
pctasian                   float64
pctotherrace               float64
pctmarriedhouseholds       float64
birthrate                  float64
dtype: object

Data types in gps DataFrame:
county           object
county_ascii     object
county_full      object
county_fips       int64
state_id         object
state_name       object
lat             float64
lng             float64
population        int64
geography        object
dtype: object

In [6]:
#Create a new field for medincome to bin the values.  The new field is called medincome_range.
cancer_reg['medincome'] = cancer_reg['medincome'].astype(float)
cancer_reg['medincome_range'] = pd.cut(cancer_reg['medincome'], bins=[0, 20000, 40000, 60000, 80000, 100000, 120000, float('inf')], labels=['<20K', '20-40K', '40-60K', '60-80K', '80-100K', '100-120K', '>120K']).astype(str)

In [7]:
#Create a new field for race to provide the value to reach 100% for this field. The new field is called race_undef. 
#race_def is calculated as 100 minus the values in the existing race fields.
cancer_reg["race_undef"] = 100 - (cancer_reg["pctwhite"] + cancer_reg["pctblack"] + cancer_reg["pctasian"] + cancer_reg["pctotherrace"])

In [8]:
#Create a new field for medianage to bin the values.  The new field is called medincome_range.
agebins = [20, 30, 40, 50, 60, 70]
agelabels = ['20-<30', '30 to <40', '40 to<50', '50 to <60', '60 to 70']
cancer_reg['medianage_range'] = pd.cut(cancer_reg['medianage'], bins=agebins, labels=agelabels, include_lowest=True)
cancer_reg['medianage_range'] = cancer_reg['medianage_range'].astype(object)

In [9]:
# Create a new field called studypercap_range that summarizes the number of research studies in each county into bins based on the number of studies in the field studypercap.
bins = [-1, 0, 25, 50, 75, 100, 200, 300, 500, 1000, 2000, float('inf')]
labels = ['0', 'less than 25', '25 to 50', '50 to 75', '75 to 100', '100 to 200', '200 to 300', '300 to 500', '500 to 1000', '1000 to 2000', 'over 2000']
cancer_reg['studypercap_range'] = pd.cut(cancer_reg['studypercap'], bins=bins, labels=labels, right=False)
cancer_reg['studypercap_range'] = cancer_reg['studypercap_range'].astype(str).str.replace(',', ' -')

In [10]:
#Create a new field for average cancer incidence rate based on the average annual count of new cancer diagnoses and the population per ocunty.
cancer_reg['avg_cancer_incd_rate'] = (cancer_reg['avganncount'] / cancer_reg['popest2015']) * 100000

In [11]:
#Create a new field for average mortality for any reason based on the average
cancer_reg['mortality_rate'] = (cancer_reg['avgdeathsperyear'] / cancer_reg['popest2015']) * 100000

In [12]:
# Define the bins and labels for the ranges for population.  New field called pop_range.
bins = [0, 2000, 5000, 20000, 50000, 75000, 100000, 250000, 500000, 1000000, 2500000, 5000000, float('inf')]
labels = ['<2,000', '2,000 to 5,000', '5,000 to 20,000', '20,000 to 50,000', '50,000 to 75,000', '75,000 to 100,000', '100,000 to 250,000', '250,000 to 500,000', '500,000 to 1,000,000', '1,000,000 to 2,500,000', '2,500,000 to 5,000,000', 'over 5,000,000']

# Create the pop_range field using pd.cut()
cancer_reg['pop_range'] = pd.cut(cancer_reg['popest2015'], bins=bins, labels=labels)

# Display the first few rows of the dataframe with the new field
print(cancer_reg.head())

   index  avganncount  avgdeathsperyear  target_deathrate  incidencerate  \
0      0       1397.0               469             164.9          489.8
1      1        173.0                70             161.3          411.6
2      2        102.0                50             174.7          349.7
3      3        427.0               202             194.8          430.4
4      4         57.0                26             144.4          350.1

   medincome  popest2015  povertypercent  studypercap           binnedinc  \
0    61898.0      260131            11.2   499.748204   (61494.5, 125635]
1    48127.0       43269            18.6    23.111234  (48021.6, 51046.4]
2    49348.0       21026            14.6    47.560164  (48021.6, 51046.4]
3    44243.0       75882            17.1   342.637253    (42724.4, 45201]
4    49955.0       10321            12.5     0.000000  (48021.6, 51046.4]

   ...  pctotherrace  pctmarriedhouseholds  birthrate medincome_range  \
0  ...      1.843479             52.856076   6.118831          60-80K
1  ...      3.741352             45.372500   4.333096          40-60K
2  ...      2.747358             54.444868   3.729488          40-60K
3  ...      1.362643             51.021514   4.603841          40-60K
4  ...      0.492135             54.027460   6.796657          40-60K

   race_undef  medianage_range  studypercap_range  avg_cancer_incd_rate  \
0    8.959407        30 to <40         300 to 500            537.037108
1    3.814804        30 to <40       less than 25            399.824355
2    5.124880         40 to<50           25 to 50            485.113669
3    4.948686         40 to<50         300 to 500            562.715796
4    4.467818         40 to<50       less than 25            552.272067

   mortality_rate           pop_range
0      180.293775  250,000 to 500,000
1      161.778641    20,000 to 50,000
2      237.800818    20,000 to 50,000
3      266.202789   75,000 to 100,000
4      251.913574     5,000 to 20,000

[5 rows x 41 columns]

In [13]:
# Drop the unwanted fields
cancer_reg = cancer_reg.drop(['binnedinc', 'percentmarried', 'avganncount', 'avgdeathsperyear', 'studypercap'], axis=1)

# Move medincome_range column to be after medincome
cancer_reg.insert(cancer_reg.columns.get_loc('medincome')+1, 'medincome_range', cancer_reg.pop('medincome_range'))

# Move race_undef column to be after pctotherrace
cancer_reg.insert(cancer_reg.columns.get_loc('pctotherrace')+1, 'race_undef', cancer_reg.pop('race_undef'))

# Move medianage_range column to be after medianage
cancer_reg.insert(cancer_reg.columns.get_loc('medianage')+1, 'medianage_range', cancer_reg.pop('medianage_range'))

# Move avg_cancer_incd_rate column to be after geography
cancer_reg.insert(cancer_reg.columns.get_loc('geography')+1, 'avg_cancer_incd_rate', cancer_reg.pop('avg_cancer_incd_rate'))

# Move mortality_rate column to be after avg_cancer_incd_rate
cancer_reg.insert(cancer_reg.columns.get_loc('avg_cancer_incd_rate')+1, 'mortality_rate', cancer_reg.pop('mortality_rate'))

# Move pop_range column to be after medincome_range
cancer_reg.insert(cancer_reg.columns.get_loc('medincome_range')+1, 'pop_range', cancer_reg.pop('pop_range'))

# Save the modified DataFrame back to a CSV file
cancer_reg.to_csv('cancer_reg.csv', index=False)

In [14]:
cancer_reg_clean=cancer_reg[cancer_reg['medianage']<70]

In [15]:
print("Data types in cancer_reg_clean DataFrame:")
print(cancer_reg_clean.dtypes)

Data types in cancer_reg_clean DataFrame:
index                         int64
target_deathrate            float64
incidencerate               float64
medincome                   float64
medincome_range              object
pop_range                  category
popest2015                    int64
povertypercent              float64
medianage                   float64
medianage_range              object
medianagemale               float64
medianagefemale             float64
geography                    object
avg_cancer_incd_rate        float64
mortality_rate              float64
pctnohs18_24                float64
pcths18_24                  float64
pctsomecol18_24             float64
pctbachdeg18_24             float64
pcths25_over                float64
pctbachdeg25_over           float64
pctemployed16_over          float64
pctunemployed16_over        float64
pctprivatecoverage          float64
pctprivatecoveragealone     float64
pctempprivcoverage          float64
pctpubliccoverage           float64
pctpubliccoveragealone      float64
pctwhite                    float64
pctblack                    float64
pctasian                    float64
pctotherrace                float64
race_undef                  float64
pctmarriedhouseholds        float64
birthrate                   float64
studypercap_range            object
dtype: object

In [16]:
cancer_reg_clean.to_csv("Analysis/cancer_reg_clean.csv")
cancer_reg_clean

,index,target_deathrate,incidencerate,medincome,medincome_range,pop_range,popest2015,povertypercent,medianage,medianage_range,...,pctpubliccoverage,pctpubliccoveragealone,pctwhite,pctblack,pctasian,pctotherrace,race_undef,pctmarriedhouseholds,birthrate,studypercap_range
0,0,164.9,489.800000,61898.0,60-80K,"250,000 to 500,000",260131,11.2,39.3,30 to <40,...,32.9,14.0,81.780529,2.594728,4.821857,1.843479,8.959407,52.856076,6.118831,300 to 500
1,1,161.3,411.600000,48127.0,40-60K,"20,000 to 50,000",43269,18.6,33.0,30 to <40,...,31.1,15.3,89.228509,0.969102,2.246233,3.741352,3.814804,45.372500,4.333096,less than 25
2,2,174.7,349.700000,49348.0,40-60K,"20,000 to 50,000",21026,14.6,45.0,40 to<50,...,42.1,21.1,90.922190,0.739673,0.465898,2.747358,5.124880,54.444868,3.729488,25 to 50
3,3,194.8,430.400000,44243.0,40-60K,"75,000 to 100,000",75882,17.1,42.8,40 to<50,...,45.3,25.0,91.744686,0.782626,1.161359,1.362643,4.948686,51.021514,4.603841,300 to 500
4,4,144.4,350.100000,49955.0,40-60K,"5,000 to 20,000",10321,12.5,48.3,40 to<50,...,44.0,22.7,94.104024,0.270192,0.665830,0.492135,4.467818,54.027460,6.796657,less than 25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3042,3042,149.6,453.549422,46961.0,40-60K,"5,000 to 20,000",6343,12.4,44.2,40 to<50,...,31.7,13.2,90.280811,3.837754,0.327613,1.700468,3.853354,51.063830,7.773512,less than 25
3043,3043,150.1,453.549422,48609.0,40-60K,"20,000 to 50,000",37118,18.8,30.4,30 to <40,...,28.8,17.7,75.706245,2.326771,4.044920,14.130288,3.791776,52.007937,8.186470,300 to 500
3044,3044,153.9,453.549422,51144.0,40-60K,"20,000 to 50,000",34536,15.0,30.9,30 to <40,...,26.6,16.8,87.961629,2.313188,1.316472,5.680705,2.728006,55.153949,7.809192,1000 to 2000
3045,3045,175.0,453.549422,50745.0,40-60K,"20,000 to 50,000",25609,13.3,39.0,30 to <40,...,29.5,14.0,92.905681,1.176562,0.244632,2.131790,3.541335,58.484232,7.582938,less than 25
3046,3046,213.6,453.549422,41193.0,40-60K,"20,000 to 50,000",37030,13.9,26.2,20-<30,...,25.1,12.6,70.098132,16.590100,3.177753,1.356457,8.777557,56.040242,8.981723,less than 25

In [17]:
gps = gps.drop(['county_ascii', 'state_name', 'population'], axis=1)

In [18]:
#update the name of the county code number field
gps = gps.rename(columns={'county_fips': 'countyfips'})

In [19]:
# print("Data types in gps DataFrame:")
print(gps.dtypes)

county          object
county_full     object
countyfips       int64
state_id        object
lat            float64
lng            float64
geography       object
dtype: object

In [20]:
gps.to_csv("Analysis/gps.csv")
gps

,county,county_full,countyfips,state_id,lat,lng,geography
0,Los Angeles,Los Angeles County,6037,CA,34.3209,-118.2247,"Los Angeles County, California"
1,Cook,Cook County,17031,IL,41.8401,-87.8168,"Cook County, Illinois"
2,Harris,Harris County,48201,TX,29.8577,-95.3936,"Harris County, Texas"
3,Maricopa,Maricopa County,4013,AZ,33.3490,-112.4915,"Maricopa County, Arizona"
4,San Diego,San Diego County,6073,CA,33.0343,-116.7350,"San Diego County, California"
...,...,...,...,...,...,...,...
3138,Blaine,Blaine County,31009,NE,41.9128,-99.9767,"Blaine County, Nebraska"
3139,King,King County,48269,TX,33.6165,-100.2558,"King County, Texas"
3140,Kenedy,Kenedy County,48261,TX,26.9285,-97.7017,"Kenedy County, Texas"
3141,Loving,Loving County,48301,TX,31.8493,-103.5800,"Loving County, Texas"
3142,Kalawao,Kalawao County,15005,HI,21.1709,-156.9475,"Kalawao County, Hawaii"

In [21]:
healthwithlocation = pd.merge(cancer_reg_clean, gps, on='geography', how='outer')
healthwithlocation.to_csv("Analysis/healthwithlocation.csv")
print(healthwithlocation.dtypes)

index                       float64
target_deathrate            float64
incidencerate               float64
medincome                   float64
medincome_range              object
pop_range                  category
popest2015                  float64
povertypercent              float64
medianage                   float64
medianage_range              object
medianagemale               float64
medianagefemale             float64
geography                    object
avg_cancer_incd_rate        float64
mortality_rate              float64
pctnohs18_24                float64
pcths18_24                  float64
pctsomecol18_24             float64
pctbachdeg18_24             float64
pcths25_over                float64
pctbachdeg25_over           float64
pctemployed16_over          float64
pctunemployed16_over        float64
pctprivatecoverage          float64
pctprivatecoveragealone     float64
pctempprivcoverage          float64
pctpubliccoverage           float64
pctpubliccoveragealone      float64
pctwhite                    float64
pctblack                    float64
pctasian                    float64
pctotherrace                float64
race_undef                  float64
pctmarriedhouseholds        float64
birthrate                   float64
studypercap_range            object
county                       object
county_full                  object
countyfips                  float64
state_id                     object
lat                         float64
lng                         float64
dtype: object

In [22]:
# Move medincome_range column to be after medincome
healthwithlocation.insert(healthwithlocation.columns.get_loc('medincome')+1, 'medincome_range', healthwithlocation.pop('medincome_range'))

# Move race_undef column to be after pctotherrace
healthwithlocation.insert(healthwithlocation.columns.get_loc('pctotherrace')+1, 'race_undef', healthwithlocation.pop('race_undef'))

# Move medianage_range column to be after medianage
healthwithlocation.insert(healthwithlocation.columns.get_loc('medianage')+1, 'medianage_range', healthwithlocation.pop('medianage_range'))

# Move avg_cancer_incd_rate column to be after geography
healthwithlocation.insert(healthwithlocation.columns.get_loc('geography')+1, 'avg_cancer_incd_rate', healthwithlocation.pop('avg_cancer_incd_rate'))

# Move mortality_rate column to be after avg_cancer_incd_rate
healthwithlocation.insert(healthwithlocation.columns.get_loc('avg_cancer_incd_rate')+1, 'mortality_rate', healthwithlocation.pop('mortality_rate'))

# Move pop_range column to be after avg_cancer_incd_rate
healthwithlocation.insert(healthwithlocation.columns.get_loc('medincome_range')+1, 'pop_range', healthwithlocation.pop('pop_range'))

print(healthwithlocation.head())

   index  target_deathrate  incidencerate  medincome medincome_range  \
0    0.0             164.9          489.8    61898.0          60-80K
1    1.0             161.3          411.6    48127.0          40-60K
2    2.0             174.7          349.7    49348.0          40-60K
3    3.0             194.8          430.4    44243.0          40-60K
4    4.0             144.4          350.1    49955.0          40-60K

            pop_range  popest2015  povertypercent  medianage medianage_range  \
0  250,000 to 500,000    260131.0            11.2       39.3       30 to <40
1    20,000 to 50,000     43269.0            18.6       33.0       30 to <40
2    20,000 to 50,000     21026.0            14.6       45.0        40 to<50
3   75,000 to 100,000     75882.0            17.1       42.8        40 to<50
4     5,000 to 20,000     10321.0            12.5       48.3        40 to<50

   ...  race_undef  pctmarriedhouseholds birthrate  studypercap_range  \
0  ...    8.959407             52.856076  6.118831         300 to 500
1  ...    3.814804             45.372500  4.333096       less than 25
2  ...    5.124880             54.444868  3.729488           25 to 50
3  ...    4.948686             51.021514  4.603841         300 to 500
4  ...    4.467818             54.027460  6.796657       less than 25

      county       county_full  countyfips  state_id      lat       lng
0     Kitsap     Kitsap County     53035.0        WA  47.6130 -122.6716
1   Kittitas   Kittitas County     53037.0        WA  47.1244 -120.6798
2  Klickitat  Klickitat County     53039.0        WA  45.8738 -120.7891
3      Lewis      Lewis County     53041.0        WA  46.5778 -122.3927
4    Lincoln    Lincoln County     53043.0        WA  47.5763 -118.4187

[5 rows x 42 columns]

In [23]:
healthwithlocation = healthwithlocation.dropna(subset=['pop_range'])

In [24]:
print(healthwithlocation.dtypes)

index                       float64
target_deathrate            float64
incidencerate               float64
medincome                   float64
medincome_range              object
pop_range                  category
popest2015                  float64
povertypercent              float64
medianage                   float64
medianage_range              object
medianagemale               float64
medianagefemale             float64
geography                    object
avg_cancer_incd_rate        float64
mortality_rate              float64
pctnohs18_24                float64
pcths18_24                  float64
pctsomecol18_24             float64
pctbachdeg18_24             float64
pcths25_over                float64
pctbachdeg25_over           float64
pctemployed16_over          float64
pctunemployed16_over        float64
pctprivatecoverage          float64
pctprivatecoveragealone     float64
pctempprivcoverage          float64
pctpubliccoverage           float64
pctpubliccoveragealone      float64
pctwhite                    float64
pctblack                    float64
pctasian                    float64
pctotherrace                float64
race_undef                  float64
pctmarriedhouseholds        float64
birthrate                   float64
studypercap_range            object
county                       object
county_full                  object
countyfips                  float64
state_id                     object
lat                         float64
lng                         float64
dtype: object

In [25]:
# create the cancer_per_state dataframe that will include data for state rates of cancer and mortality

import pandas as pd

# get unique state IDs
state_ids = healthwithlocation['state_id'].unique()

# create the cancer dataframe
cancer_per_state = pd.DataFrame({
    'state_id': state_ids,
    'state_cancer_incidence_rate': 0.0,
    'state_mortality_rate': 0.0,
    'state_target_deathrate': 0.0
})

cancer_per_state = cancer_per_state.dropna()

cancer_per_state = cancer_per_state.sort_values('state_id', ascending=True)

cancer_per_state = cancer_per_state.reset_index(drop=True)
cancer_per_state = cancer_per_state.sort_values(by=['state_id'])

cancer_per_state

,state_id,state_cancer_incidence_rate,state_mortality_rate,state_target_deathrate
0,AK,0.0,0.0,0.0
1,AL,0.0,0.0,0.0
2,AR,0.0,0.0,0.0
3,AZ,0.0,0.0,0.0
4,CA,0.0,0.0,0.0
5,CO,0.0,0.0,0.0
6,CT,0.0,0.0,0.0
7,DC,0.0,0.0,0.0
8,DE,0.0,0.0,0.0
9,FL,0.0,0.0,0.0
10,GA,0.0,0.0,0.0
11,HI,0.0,0.0,0.0
12,IA,0.0,0.0,0.0
13,ID,0.0,0.0,0.0
14,IL,0.0,0.0,0.0
15,IN,0.0,0.0,0.0
16,KS,0.0,0.0,0.0
17,KY,0.0,0.0,0.0
18,LA,0.0,0.0,0.0
19,MA,0.0,0.0,0.0
20,MD,0.0,0.0,0.0
21,ME,0.0,0.0,0.0
22,MI,0.0,0.0,0.0
23,MN,0.0,0.0,0.0
24,MO,0.0,0.0,0.0
25,MS,0.0,0.0,0.0
26,MT,0.0,0.0,0.0
27,NC,0.0,0.0,0.0
28,ND,0.0,0.0,0.0
29,NE,0.0,0.0,0.0
30,NH,0.0,0.0,0.0
31,NJ,0.0,0.0,0.0
32,NM,0.0,0.0,0.0
33,NV,0.0,0.0,0.0
34,NY,0.0,0.0,0.0
35,OH,0.0,0.0,0.0
36,OK,0.0,0.0,0.0
37,OR,0.0,0.0,0.0
38,PA,0.0,0.0,0.0
39,RI,0.0,0.0,0.0
40,SC,0.0,0.0,0.0
41,SD,0.0,0.0,0.0
42,TN,0.0,0.0,0.0
43,TX,0.0,0.0,0.0
44,UT,0.0,0.0,0.0
45,VA,0.0,0.0,0.0
46,VT,0.0,0.0,0.0
47,WA,0.0,0.0,0.0
48,WI,0.0,0.0,0.0
49,WV,0.0,0.0,0.0
50,WY,0.0,0.0,0.0

In [26]:
#After creating the cancer_per_state dataframe, use the .loc accessor to assign the calculated values from healthwithlocation to the corresponding rows in cancer_per_state

cancer_per_state.loc[:, 'state_cancer_incidence_rate'] = healthwithlocation.groupby('state_id').apply(lambda x: (x['avg_cancer_incd_rate'] * x['popest2015']).sum() / x['popest2015'].sum()).values.astype(float)
cancer_per_state.loc[:, 'state_mortality_rate'] = healthwithlocation.groupby('state_id').apply(lambda x: (x['mortality_rate'] * x['popest2015']).sum() / x['popest2015'].sum()).values.astype(float)
cancer_per_state.loc[:, 'state_target_deathrate'] = healthwithlocation.groupby('state_id').apply(lambda x: (x['target_deathrate'] * x['popest2015']).sum() / x['popest2015'].sum()).values.astype(float)

cancer_per_state.to_csv("Analysis/cancer_per_state.csv")
print(cancer_per_state.dtypes)

cancer_per_state

state_id                        object
state_cancer_incidence_rate    float64
state_mortality_rate           float64
state_target_deathrate         float64
dtype: object

,state_id,state_cancer_incidence_rate,state_mortality_rate,state_target_deathrate
0,AK,354.965285,124.438557,177.555069
1,AL,509.038046,210.166068,187.513020
2,AR,495.667859,219.763320,191.204937
3,AZ,396.173733,158.375762,148.074212
4,CA,401.040188,145.241733,152.507227
5,CO,389.292012,131.679697,145.162473
6,CT,565.431484,188.894886,156.363389
7,DC,428.574829,161.254812,182.300000
8,DE,546.232612,200.225386,177.739053
9,FL,522.853730,206.120131,161.611506
10,GA,433.332912,160.046462,172.922763
11,HI,462.237882,159.411644,138.014080
12,IA,541.818531,205.084605,170.646701
13,ID,436.846334,155.173916,154.937704
14,IL,502.758516,188.541275,175.845602
15,IN,480.657675,199.601793,184.783304
16,KS,7006.014526,183.642007,167.816392
17,KY,559.443599,223.111974,201.357449
18,LA,498.528281,198.195981,192.939235
19,MA,531.730293,190.494497,167.471156
20,MD,455.135358,166.996251,161.539787
21,ME,617.906190,241.174488,181.315388
22,MI,538.655711,205.501923,176.404119
23,MN,3110.468434,173.819776,160.678641
24,MO,509.847457,208.307419,180.499482
25,MS,503.346026,212.868646,198.491294
26,MT,516.655868,186.973542,159.019228
27,NC,481.100035,181.000383,172.794269
28,ND,456.553288,168.426851,155.075358
29,NE,468.279690,179.807255,166.289089
30,NH,568.236475,196.376393,168.937205
31,NJ,536.458253,184.996383,163.316101
32,NM,418.556753,163.340475,149.101239
33,NV,1154.172937,159.295984,168.722726
34,NY,532.906212,179.553320,159.362802
35,OH,537.932913,224.152386,184.272176
36,OK,474.390094,202.130320,188.215716
37,OR,490.556428,191.338394,168.721188
38,PA,591.628178,224.782549,177.362325
39,RI,550.129547,210.909881,172.952441
40,SC,485.933222,193.989313,180.477686
41,SD,483.749493,188.889211,163.792393
42,TN,502.313748,206.935035,191.126219
43,TX,368.880681,144.348694,162.776262
44,UT,307.019727,93.108159,127.592889
45,VA,423.080710,165.053970,159.409644
46,VT,566.735139,211.966609,171.243288
47,WA,465.430493,166.477206,165.280997
48,WI,512.238325,195.517954,169.746420
49,WV,603.537282,256.706693,195.711933
50,WY,434.391673,163.622001,160.209062

In [27]:
!pip install psycopg2

Requirement already satisfied: psycopg2 in c:\users\calog\anaconda3\lib\site-packages (2.9.6)

In [28]:
from sqlalchemy import create_engine
from config import username, password, hostname, port, db

engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{hostname}:{port}/{db}')

In [29]:
#with enine.connect() as conn:
df.to_sql("cancer", con=engine, if_exists="append", index=True)

NameError: name 'df' is not defined

In [ ]:
from sqlalchemy import text
with engine.connect() as connection:
    result = connection.execute(text("SELECT * FROM healthoutcomes_project3"))
    for row in result:
        print(row)

In [ ]:
import pandas as pd
conn = engine.connect()
query = "SELECT * FROM healthoutcomes_project3"
healthwithlocation = pd.read_sql(query, conn)
print(df)

In [ ]:
#TEAM QUESTION - NOT SURE HOW TO UPDATE THIS ONE FROM THE TEMPLATE

#conn = engine.connect()
#query = "SELECT SUM(petalwidthcm) as petalwidth, SUM(petallengthcm) as petallength FROM healthoutcomes_project3"
#healthwithlocation = pd.read_sql(query, conn)
#healthwithlocation
#.to_json(orient="records")

In [ ]:
# Create a static graph for the dashboard of AVERAGE CANCER INCIDENCE and MORTALITY RATES versus MEDIAN INCOME in the UNITED STATES

import altair as alt

# Read data from SQL
from sqlalchemy import create_engine
engine = create_engine('postgresql://USERNAME:PASSWORD@localhost:5432/project3')
df = pd.read_sql_query('SELECT * FROM cancer', con=engine)

# Define the chart
chart = alt.Chart(df, title='AVERAGE CANCER INCIDENCE and MORTALITY RATES versus MEDIAN INCOME in the UNITED STATES (2015)').encode(
    x=alt.X('medincome_range:N', title='Median Income Ranges'),
    y=alt.Y('avg_cancer_incd_rate:Q', title='average rate per 100,000 persons'),
)

# Add the blue line
blue_line = chart.mark_circle(color='blue').encode(
    y=alt.Y('avg_cancer_incd_rate:Q', axis=alt.Axis(title='Cancer Incidence Rate')),
)

# Add the red line
red_line = chart.mark_octagon(color='red').encode(
    y=alt.Y('mortality_rate:Q', axis=alt.Axis(title='Mortality Rate (any reason)')),
)

# Combine the chart and lines
combined = (chart + blue_line + red_line).properties(width=600, height=400)

# Export the graph to a JSON file
combined.save('cancer_vs_income.json')

In [ ]:
#create the dynamic graph to show the health outcomes per state.  User can choose to show cancer incidence rate, mortality rate and/or target death rate per state on the scatter plot
# Load data from SQL
state_rates_location = pd.read_sql('SELECT * FROM cancer_per_state', sql_conn)

# Set up the scatter plot
scatter = alt.Chart(cancer_per_state).mark_circle(size=100, opacity=0.7).encode(
    y=alt.Y('state_id:N', axis=alt.Axis(title='State')),
    x=alt.X('rate:Q', axis=alt.Axis(title='Location-Adjusted Rate')),
    color=alt.condition(alt.datum.type == 'cancer_incidence_rate', alt.value('blue'), alt.condition(alt.datum.type == 'mortality_rate', alt.value('red'), alt.value('green')))
).properties(width=800, height=500)

# Create the legend
legend = alt.Chart(state_rates_location).mark_point().encode(
    y=alt.Y('type:N', axis=alt.Axis(title='Rate Type')),
    color=alt.Color('type:N', legend=None),
    shape=alt.Shape('type:N', legend=None)
).properties(width=200, height=500)

# Combine the scatter plot and legend
chart = alt.hconcat(scatter, legend)

# Define the selection widget
rate_selection = alt.binding_select(options=['cancer_incidence_rate', 'mortality_rate', 'target_death_rate'])
rate_selector = alt.selection_single(fields=['type'], bind=rate_selection, name='Rate Type')

# Update the scatter plot encoding based on the selected rate type
scatter = scatter.add_selection(rate_selector).transform_filter(rate_selector).transform_calculate(
    rate='datum.' + alt.condition(
        rate_selector,
        alt.value(''),
        alt.repeat('rate_type') + '_rate'
    ).if_else(
        'datum.' + alt.repeat('rate_type') + '_rate',
        'null'
    )
).encode(
    color=alt.condition(
        alt.datum.rate_type == 'cancer_incidence_rate',
        alt.value('blue'),
        alt.condition(
            alt.datum.rate_type == 'mortality_rate',
            alt.value('red'),
            alt.value('green')
        )
    )
)

# Combine the updated scatter plot with the legend
chart = alt.hconcat(scatter, legend).repeat(
    rate_type=['cancer_incidence_rate', 'mortality_rate', 'target_death_rate'],
    columns=1,
    title='CANCER INCIDENCE, TARGET DEATH RATE and MORTALITY RATE FOR ANY REASON per STATE (2015)',
).resolve_scale(color='independent')

# Export the chart to JSON file
chart.save('Analysis/scatter_plot.json')